.mainFxmlClass {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#Pane {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.backPane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-radius: 0px 20px 20px 0px; /* Bordes redondeados en la esquina superior derecha */
    -fx-background-radius: 0px 20px 20px 0px;
}

.backButton {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}

.titleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: center;
}

.subTitleLabel {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #333;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-text-align: center;
    -fx-layout-x: 0;
    -fx-pref-width: 450;
}

.termsLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-wrap-text: true;
}

.boldLabel {
    -fx-font-weight: bold;
}

.centeredLabel {
    -fx-text-align: center;
}

Label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

TextField {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-border-color: #ccc;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-pref-height: 32px;
}

TextField#firstNameField, TextField#lastNameField {
    -fx-pref-width: 180px;
}

TextField#idField, TextField#emailField, TextField#passwordField {
    -fx-pref-width: 342px;
}

.Button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-pref-width: 342px;
}
.boldLabelButton {
    -fx-background-color: transparent;
    -fx-text-fill: black;  /* Cambia el color del texto según tu preferencia */
    -fx-font-weight: bold;
    -fx-cursor: hand;  /* Cambia el cursor al pasar el ratón por encima */
    -fx-padding: 0;
}